{% extends 'base.html' %}
{% load static %}

<!-- 타이틀 -->
{% block title %} Django Blog List {% endblock %}

<!-- 바디의 헤더 영역: 네비바 포함 -->
{% block header %}
<header class="masthead" style="background-image: url('{% static 'img/contact-bg.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>BLOG</h1>
            <span class="subheading">Based on my daily</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

<!-- 바디의 콘텐트 영역: 본문 -->
{% block content %}

<a href="{% url 'blog:add' %}" class="btn btn-primary btn-sm float-right" role="button" aria-pressed="true">새로 만들기</a>
<br>

{% for post in posts %}
    <h3><a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></h3>
    {{ post.modify_dt|date:"N d, Y" }}
    <p>{{ post.description }}</p>
{% endfor %}

<br>

    <div>
        <span>
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">이전페이지</a>
            {% endif %}

            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">다음페이지</a>
            {% endif %}
        </span>
    </div>

{% endblock %}

<!-- 바디의 푸터 영역 -->
{% block footer %}

{% endblock %}

<!-- 추가 스크립트 지정 영역 -->
{% block extra-script %}{% endblock %}

